---

- debug:
    msg: "SAP note 2002167 Step 2a: Configure the Firewall"

- import_tasks: ../../RedHat/generic/assert-firewall.yml

- debug:
    msg: "SAP note 2002167 Step 2b: Configure SELinux"

- import_tasks: ../../RedHat/generic/assert-selinux.yml
