---

- debug:
    msg: "SAP note 2002167 Step 6: Additional notes for installing SAP systems"

- name: Get info about file /usr/lib64/libldap.so.199
  stat:
    path: /usr/lib64/libldap.so.199
  register: stat_lpbldap

- name: Assert that file /usr/lib64/libldap.so.199 exists and is a link
  assert:
    that:
      - stat_lpbldap.stat.islnk == true
    fail_msg: "FAIL: File /usr/lib64/libldap.so.199 does not exist or is no link!"
    success_msg: "PASS: File /usr/lib64/libldap.so.199 exist and is a link."
  ignore_errors: "{{ sap_preconfigure_assert_ignore_errors|d(false) }}"

- name: Assert that file /usr/lib64/libldap.so.199 is a link to /usr/lib64/libldap-2.3.so.0
  assert:
    that:
      - stat_lpbldap.stat.lnk_target == '/usr/lib64/libldap-2.3.so.0'
    fail_msg: "FAIL: File /usr/lib64/libldap.so.199 is not a link to /usr/lib64/libldap-2.3.so.0!"
    success_msg: "PASS: File /usr/lib64/libldap.so.199 is a link to /usr/lib64/libldap-2.3.so.0."
  ignore_errors: "{{ sap_preconfigure_assert_ignore_errors|d(false) }}"

- name: Get info about file /usr/lib64/liblber.so.199
  stat:
    path: /usr/lib64/liblber.so.199
  register: stat_lpblber

- name: Assert that file /usr/lib64/liblber.so.199 exists and is a link
  assert:
    that:
      - stat_lpblber.stat.islnk == true
    fail_msg: "FAIL: File /usr/lib64/liblber.so.199 does not exist or is no link!"
    success_msg: "PASS: File /usr/lib64/liblber.so.199 exist and is a link."
  ignore_errors: "{{ sap_preconfigure_assert_ignore_errors|d(false) }}"

- name: Assert that file /usr/lib64/liblber.so.199 is a link to /usr/lib64/liblber-2.3.so.0
  assert:
    that:
      - stat_lpblber.stat.lnk_target == '/usr/lib64/liblber-2.3.so.0'
    fail_msg: "FAIL: File /usr/lib64/liblber.so.199 is not a link to /usr/lib64/liblber-2.3.so.0!"
    success_msg: "PASS: File /usr/lib64/liblber.so.199 is a link to /usr/lib64/liblber-2.3.so.0."
  ignore_errors: "{{ sap_preconfigure_assert_ignore_errors|d(false) }}"

- import_tasks: ../../RedHat/generic/assert-systemd-tmpfiles.yml

...
